In [44]:
n = 0
while n < 10:
    if n == 5:
        break
    print (n) 
    n += 1

0
1
2
3
4

In [45]:
n = 0
while n < 10:
    if n == 5:
        print('5 is not less than 5')
        break
    print(n)
    n += 1

0
1
2
3
4
5 is not less than 5

In [46]:
favfruit = ["banana", "orange", "apple"]
for n in favfruit:
    if n == "apple":
        print("apple is really a fruit?")
        break
    print("I like" + ' '+ (n))

I like banana
I like orange
apple is really a fruit?

In [49]:
n = [*range(1,31,1)]
n = sum(n)

while n == 465:
    print(n)
    break

465

In [84]:
grade = 80
if grade >= 90:
    print("A")
if grade in range(80,90):
    print("B")
if grade in range(70,80):
    print("C")
if grade in range(60,70):
    print("D")
if grade < 60:
    print("F")

B

In [55]:
marks = {'Andy':88, 'Amy':66, 'James':90,'Jules':55, 'Arthur':77}
for n, m in marks.items():
    print(n, m)

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [67]:
marks = {'Andy':88, 'Amy':66, 'James':90,'Jules':55, 'Arthur':77}
print(max(marks.values()))
print(min(marks.values()))
print(sum(marks.values())/len(marks.values()))

90
55
75.2

In [73]:
marks = {'Andy':88, 'Amy':66, 'James':90,'Jules':55, 'Arthur':77}
for n in marks:
    if 'J'in n:
        break
    print(n)

Andy
Amy

In [72]:
marks = {'Andy':88, 'Amy':66, 'James':90,'Jules':55, 'Arthur':77}
for n in marks:
    if 'J'in n:
        continue
    print(n)

Andy
Amy
Arthur